<div class="col-md-9 lhs1 col-xs-12">
<div class="box1">
<p>You can pay for an order using credit card at the final step of <a href="/buy" rel="alternate">checkout</a>. For an existing order you can pay by credit card from <a href="/orders" rel="alternate">this page</a>, all you need is your 12 digit order ID.</p>
<p>Rest assured paying by credit card is a safe and easy process:</p>
<ol class="content">
<li>We accept all major credit cards including Visa, MasterCard and American Express.</li>
<li>We implement Anti-Fraud Measures so that suspicious orders are marked for attention by our sales team located in different regions who work around the clock and will quickly attend to the order so the order can be reviewed.</li>
<li class="extralinetext">If you need to pay by credit card, but cannot do it online follow the checkout process until you need to enter credit card details and then <a href="https://company.groupdocs.com/contact" rel="alternate">contact one of our sales offices</a> and they will be happy to help you pay via credit card straight away over the phone.</li>
</ol>
<div class="moduletable">
<div class="custom">
<div class="clearall">&nbsp;</div>
<div style="margin: 30px 20px 0 0;">
<div style="float: left;"><img style="display: block; width: 105px; height: 105px; margin-top: -20px;" data-src="https://purchase.conholdate.com/templates/conholdate/images/conholdate-logo-footer.png" class=" lazyloaded" src="https://purchase.conholdate.com/templates/conholdate/images/conholdate-logo-footer.png"></div>
<div style="margin-left: 130px;">
<h5>Questions?</h5>
<p>If you have any questions or problems, please feel free to&nbsp;<a href="https://about.groupdocs.com/contact" rel="alternate">contact our sales support</a>&nbsp;who will be glad to assist.</p>
</div>
</div></div>
</div>
<p></p>
</div>
</div>

