<div class="box1">
<h5>.NET APIs</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/words/net/licensing/">Aspose.Words for .NET</a></li>
<li><a href="https://docs.aspose.com/display/cellsnet/licensing">Aspose.Cells for .NET</a></li>
<li><a href="https://docs.aspose.com/display/pdfnet/Licensing">Aspose.PDF for .NET</a></li>
<li><a href="https://docs.aspose.com/display/slidesnet/Licensing">Aspose.Slides for .NET</a></li>
<li><a href="https://docs.aspose.com/display/emailnet/Licensing">Aspose.Email for .NET</a></li>
<li><a href="https://docs.aspose.com/display/barcodenet/Licensing">Aspose.BarCode for .NET</a></li>
<li><a href="https://docs.aspose.com/display/imagingnet/Licensing">Aspose.Imaging for .NET</a></li>
<li><a href="https://docs.aspose.com/display/tasksnet/Licensing">Aspose.Tasks for .NET</a></li>
<li><a href="https://docs.aspose.com/display/ocrnet/Licensing">Aspose.OCR for .NET</a></li>
<li><a href="https://docs.aspose.com/display/diagramnet/Licensing">Aspose.Diagram for .NET</a></li>
<li><a href="https://docs.aspose.com/display/notenet/Licensing">Aspose.Note for .NET</a></li>
<li><a href="https://docs.aspose.com/display/3dnet/Licensing">Aspose.3D for .NET</a></li>
<li><a href="https://docs.aspose.com/display/cadnet/Licensing">Aspose.CAD for .NET</a></li>
<li><a href="https://docs.aspose.com/html/net/getting-started/licensing/">Aspose.HTML for .NET</a></li>
<li><a href="https://docs.aspose.com/display/gisnet/Licensing">Aspose.GIS&nbsp;for .NET</a></li>
<li><a href="https://docs.aspose.com/display/zipnet/Licensing">Aspose.ZIP for .NET</a></li>
<li><a href="https://docs.aspose.com/page/net/licensing/">Aspose.Page for .NET</a></li>
<li><a href="https://docs.aspose.com/display/psdnet/Licensing">Aspose.PSD for .NET</a></li>
<li><a href="https://docs.aspose.com/display/omrnet/Licensing">Aspose.OMR for .NET</a></li>
</ul>
</div>
<div class="box1">
<h5>Java APIs</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/words/java/licensing/">Aspose.Words for Java</a></li>
<li><a href="https://docs.aspose.com/display/cellsjava/Licensing">Aspose.Cells for Java</a></li>
<li><a href="https://docs.aspose.com/display/pdfjava/Licensing">Aspose.PDF for Java</a></li>
<li><a href="https://docs.aspose.com/display/slidesjava/Licensing">Aspose.Slides for Java</a></li>
<li><a href="https://docs.aspose.com/display/emailjava/License+Aspose.Email+for+Java" rel="alternate">Aspose.Email for Java</a></li>
<li><a href="https://docs.aspose.com/display/barcodejava/Licensing">Aspose.BarCode for Java</a></li>
<li><a href="https://docs.aspose.com/display/imagingjava/Licensing">Aspose.Imaging for Java</a></li>
<li><a href="https://docs.aspose.com/display/tasksjava/Licensing">Aspose.Tasks for Java</a></li>
<li><a href="https://docs.aspose.com/display/OCRJAVA/Licensing">Aspose.OCR for Java</a></li>
<li><a href="https://docs.aspose.com/display/diagramjava/Licensing">Aspose.Diagram for Java</a></li>
<li><a href="https://docs.aspose.com/display/notejava/Licensing">Aspose.Note for Java</a></li>
<li><a href="https://docs.aspose.com/display/cadjava/Licensing">Aspose.CAD for Java</a></li>
<li><a href="https://docs.aspose.com/html/java/getting-started/licensing/">Aspose.HTML for Java</a></li>
<li><a href="https://docs.aspose.com/page/net/licensing/">Aspose.Page for Java</a></li>
</ul>
</div>
<div class="box1">
<h5>C++ APIs</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/display/wordscpp/Licensing">Aspose.Words for C++</a></li>
<li><a href="https://docs.aspose.com/display/cellscpp/Licensing">Aspose.Cells for C++</a></li>
<li><a href="https://docs.aspose.com/display/pdfcpp/Licensing">Aspose.PDF for C++</a></li>
<li><a href="https://docs.aspose.com/display/slidescpp/Licensing">Aspose.Slides for C++</a></li>
<li><a href="https://docs.aspose.com/display/emailcpp/Licensing" rel="alternate">Aspose.Email for C++</a></li>
<li><a href="https://docs.aspose.com/display/barcodecpp/Licensing">Aspose.BarCode for C++</a></li>
</ul>
</div>
<div class="box1">
<h5>Android APIs</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/words/java/install-aspose-words-for-android-via-java/">Aspose.Words for Android</a></li>
<li><a href="https://docs.aspose.com/cells/java/aspose-cells-for-android-via-java-installation/">Aspose.Cells for Android</a></li>
<li><a href="https://docs.aspose.com/pdf/androidjava/licensing/">Aspose.PDF for Android</a></li>
<li><a href="https://docs.aspose.com/slides/java/install-aspose-slides-for-android-via-java/">Aspose.Slides for Android</a></li>
<li><a href="https://docs.aspose.com/email/java/aspose-email-for-android-via-java-installation/">Aspose.Email for Android</a></li>
</ul>
</div>
<div class="box1">
<h5>SharePoint APIs</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/words/sharepoint/license-aspose-words-for-sharepoint/">Aspose.Words for SharePoint</a></li>
<li><a href="https://docs.aspose.com/cells/sharepoint/license-aspose-cells-for-sharepoint/">Aspose.Cells for SharePoint</a></li>
<li><a href="https://docs.aspose.com/pdf/sharepoint/license-aspose-pdf-for-sharepoint/">Aspose.PDF for SharePoint</a></li>
<li><a href="https://docs.aspose.com/slides/sharepoint/license-aspose-slides-for-sharepoint/">Aspose.Slides for SharePoint</a></li>
<li><a href="https://docs.aspose.com/email/sharepoint/license-aspose-email-for-sharepoint/">Aspose.Email for SharePoint</a></li>
<li><a href="https://docs.aspose.com/display/barcodesharepoint/Licensing">Aspose.BarCode for SharePoint</a></li>
<li><a href="https://docs.aspose.com/display/imagingsharepoint/Licensing" rel="alternate">Aspose.Imaging for SharePoint</a></li>
</ul>
</div>
<div class="box1">
<h5>SSRS Rendering Extensions</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/words/reportingservices/license-aspose-words-for-reporting-services/">Aspose.Words for Reporting Services</a></li>
<li><a href="https://docs.aspose.com/display/cellsreportingservices/Licensing">Aspose.Cells for Reporting Services</a></li>
<li><a href="https://docs.aspose.com/pdf/reportingservices/license-aspose-pdf-for-reporting-services/">Aspose.PDF for Reporting Services</a></li>
<li><a href="https://docs.aspose.com/slides/reportingservices/license-aspose-slides-for-reporting-services/">Aspose.Slides for Reporting Services</a></li>
<li><a href="https://docs.aspose.com/barcode/reportingservices/install-license/">Aspose.BarCode for Reporting Services</a></li>
</ul>
</div>
<div class="box1">
<h5>JasperReports Exporters</h5>
<ul class="content">
<li><a href="https://docs.aspose.com/display/wordsjasperreports/Licensing">Aspose.Words for JasperReports</a></li>
<li><a href="https://docs.aspose.com/display/cellsjasperreports/Licensing">Aspose.Cells for JasperReports</a></li>
<li><a href="https://docs.aspose.com/display/pdfjasperreports/Licensing">Aspose.PDF for JasperReports</a></li>
<li><a href="https://docs.aspose.com/display/slidesjasperreports/Licensing">Aspose.Slides for JasperReports</a></li>
<li><a href="https://docs.aspose.com/barcode/jasperreports/license-aspose-barcode-for-jasperreports/">Aspose.BarCode for JasperReports</a></li>
</ul>
</div>