<div class="box1">
<h5>.NET APIs</h5>
<ul class="content">
<li><a href="https://docs.groupdocs.com/display/viewernet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Viewer">GroupDocs.Viewer&nbsp;for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/annotationnet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Annotation">GroupDocs.Annotation for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/conversionnet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Conversion">GroupDocs.Conversion for .NET</a>&nbsp;</li>
<li><a href="https://docs.groupdocs.com/comparison/net/licensing-and-evaluation-limitations/" rel="alternate">GroupDocs.Comparison for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/signaturenet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Signature">GroupDocs.Signature for .NET</a>&nbsp;</li>
<li><a href="https://docs.groupdocs.com/display/assemblynet/Evaluation+Limitations+and+Licensing">GroupDocs.Assembly for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/metadatanet/Evaluation+Limitations+and+Licensing">GroupDocs.Metadata for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/searchnet/Evaluation+Limitations+and+Licensing">GroupDocs.Search for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/parsernet/Evaluation+Limitations+and+Licensing">GroupDocs.Parser for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/watermarknet/Evaluation+Limitations+and+Licensing" rel="alternate">GroupDocs.Watermark for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/editornet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Editor">GroupDocs.Editor&nbsp;for .NET</a></li>
<li><a href="https://docs.groupdocs.com/display/mergernet/Evaluation+Limitations+and+Licensing+of+GroupDocs.Merger">GroupDocs.Merger for .NET</a></li>
<li><a href="https://docs.groupdocs.com/redaction/net/evaluation-limitations-and-licensing/">GroupDocs.Redaction for .NET</a></li>
</ul>
</div>
<div class="box1">
<h5>Java APIs</h5>
<ul class="content">
<li><a href="https://docs.groupdocs.com/viewer/java/evaluation-limitations-and-licensing/" rel="alternate">GroupDocs.Viewer&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/annotation/java/evaluation-limitations-and-licensing/" rel="alternate">GroupDocs.Annotation&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/conversionjava/Evaluation+Limitations+and+Licensing+of+GroupDocs.Conversion" rel="alternate">GroupDocs.Conversion&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/comparisonjava/Evaluation+Limitations+and+Licensing+of+GroupDocs.Comparison" rel="alternate">GroupDocs.Comparison&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/signaturejava/Evaluation+Limitations+and+Licensing+of+GroupDocs.Signature" rel="alternate">GroupDocs.Signature&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/assemblyjava/Evaluation+Limitations+and+Licensing" rel="alternate">GroupDocs.Assembly&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/metadatajava/Evaluation+Limitations+and+Licensing" rel="alternate">GroupDocs.Metadata&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/searchjava/Evaluation+Limitations+and+Licensing">GroupDocs.Search for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/parserjava/Evaluation+Limitations+and+Licensing">GroupDocs.Parser for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/watermarkjava/Evaluation+Limitations+and+Licensing" rel="alternate">GroupDocs.Watermark for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/editorjava/Evaluation+Limitations+and+Licensing+of+GroupDocs.Editor">GroupDocs.Editor&nbsp;for Java</a></li>
<li><a href="https://docs.groupdocs.com/display/mergerjava/Evaluation+Limitations+and+Licensing+of+GroupDocs.Merger">GroupDocs.Merger&nbsp;for Java</a></li>
</ul>
</div>