<h5>.NET APIs</h5>
<ul class="content">
    <li><a href="https://docs.aspose.com/display/wordsnet/Licensing#Licensing-ApplyMeteredLicense" rel="alternate">Aspose.Words for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/cellsnet/Licensing#Licensing-ApplyingMeteredLicense">Aspose.Cells for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/pdfnet/Licensing#Licensing-ApplyMeteredLicense" rel="alternate">Aspose.PDF for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/slidesnet/Metered+Licensing" rel="alternate">Aspose.Slides for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/emailnet/Licensing#Licensing-ApplyMeteredLicense" rel="alternate">Aspose.Email for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/barcodenet/Licensing#Licensing-ApplyingMeteredKey">Aspose.BarCode for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/imagingnet/Metered+Licensing" rel="alternate">Aspose.Imaging for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/tasksnet/Licensing" rel="alternate">Aspose.Tasks for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/ocrnet/Licensing" rel="alternate">Aspose.OCR for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/diagramnet/Licensing#Licensing-SetPublicandPrivateKeystoApplyMeteredLicense">Aspose.Diagram for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/notenet/Licensing" rel="alternate">Aspose.Note for .NET</a></li>
    <li><a href="https://docs.aspose.com/cad/net/metered-licensing/">Aspose.CAD for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/3dnet/Licensing#Licensing-SetPublicandPrivateKeystoApplyMeteredLicense">Aspose.3D for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/htmlnet/Licensing#Licensing-ApplyMeteredLicense">Aspose.HTML for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/gisnet/Licensing#Licensing-ApplyMeteredLicense">Aspose.GIS for .NET</a></li>
    <li><a href="https://docs.aspose.com/page/net/licensing/">Aspose.Page for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/psdnet/Licensing#Licensing-ApplyMeteredLicense">Aspose.PSD for .NET</a></li>
    <li><a href="https://docs.aspose.com/display/zipnet/Licensing#Licensing-ApplyMeteredLicense">Aspose.ZIP for .NET</a></li>
    </ul>
    &nbsp;  
    <h5>Java APIs</h5>
    <ul class="content">
        <li><a href="https://docs.aspose.com/display/wordsjava/License+Aspose.Words#LicenseAspose.Words-ApplyMeteredLicense">Aspose.Words for Java</a></li>
        <li><a href="https://docs.aspose.com/display/cellsjava/Licensing#Licensing-ApplyingMeteredLicense">Aspose.Cells for Java</a></li>
        <li><a href="https://docs.aspose.com/display/pdfjava/Apply+Metered+License" rel="alternate">Aspose.PDF for Java</a></li>
        <li><a href="https://docs.aspose.com/display/slidesjava/Metered+Licensing" rel="alternate">Aspose.Slides for Java</a></li>
        <li><a href="https://docs.aspose.com/display/emailjava/Licensing#Licensing-ApplyMeteredLicense" rel="alternate">Aspose.Email for Java</a></li>
        <li><a href="https://docs.aspose.com/display/barcodejava/Applying%20Metered%20Key">Aspose.BarCode for Java</a></li>
        <li><a href="https://docs.aspose.com/display/imagingjava/Applying%20Metered%20Licensing">Aspose.Imaging for Java</a></li>
        <li><a href="https://docs.aspose.com/display/tasksjava/Licensing" rel="alternate">Aspose.Tasks for Java</a></li>
        <li><a href="https://docs.aspose.com/display/OCRJAVA/Licensing">Aspose.OCR for Java</a></li>
        <li><a href="https://docs.aspose.com/display/diagramjava/Licensing#Licensing-SetPublicandPrivateKeystoApplyMeteredLicense">Aspose.Diagram for Java</a></li>
        <li><a href="https://docs.aspose.com/display/notejava/Licensing" rel="alternate">Aspose.Note for Java</a></li>
        <li><a href="https://docs.aspose.com/cad/java/metered-licensing/">Aspose.CAD for Java</a></li>
        <li><a href="https://docs.aspose.com/display/htmljava/Licensing#Licensing-ApplyMeteredLicense">Aspose.HTML for Java</a></li>
        <li><a href="https://docs.aspose.com/page/java/licensing/">Aspose.Page for Java</a></li>
        </ul>