<head>
<title>{{ .Page.Params.page_title }}</title>
<meta name="description" content="{{ .Page.Params.description }}">
<meta name="author" content="Conholdate">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="keywords" content="purchase, policies, buy, software, subscription, developers, free trial, support, evaluate, licensing, api, faq, eula, order, payment, refunds, discount, exchanges, taxes">
<meta name="baidu-site-verification" content="cscU32Frqy">
<meta name="yandex-verification" content="d9c1d73d40212e63">
<meta property="og:title" content="Policies - Purchase - conholdate.com">
<meta property="og:url" content="https://purchase.conholdate.com/policies">
<meta property="og:description" content="On this page you will find links to a number of our general policies and practices that answer your questions about how to evaluate, correctly license and purchase our products.">
<meta property="og:image" content="https://purchase.conholdate.com/templates/conholdate/images/conholdate-logo-footer.png">
<meta property="og:type" content="website">
<script src="https://cms.admin.containerize.com/templates/groupdocs/optimized/bundles_gd.js"></script>
<script src="https://cms.admin.containerize.com/templates/groupdocs/js/jquery.lazy.min.js"></script>
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/groupdocs/optimized/bundles_gd.css" type="text/css">
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/images/june2021/summercampaign.css" type="text/css">
</head>